%h2 メニュー一覧
%table.table.table-bordered
  %thead
    %tr
      %th
        Name
      %th
        数量
  %tbody
    - @menus.each do |menu|
      %tr
        %td= menu.bread.name
        %td= menu.quantity
