#order-list
  .new-order-btn
    margin: 8px 0

#new-bulk-create
  textarea
    height: 300px

#order-form
  table.table
    td
      padding: 0
  .order-quantity
    width: 20px
  .name-row
    td
      padding-top: 8px!important
      font-weight: bold
  .quantity-row
    td
      border-top: none
  textarea
    height: 50px
